/*-- scss:defaults --*/

/*
  UiO colors
  For details (e.g. use cases), see
  https://www.uio.no/om/designmanual/profilelementer/fargepalett/index.html
*/
$roed-segl: #b60000;
$svart: #000000;
$graa: #b2b3b7;
$blaa: #3e31d6;
$lysblaa: #86a4f7;
$blaatone: #e6ecff;
$groenn: #2ec483;
$lysgroenn: #6ce1ab;
$groenntone: #ceffdf;
$roed: #dd0000;
$lysroed: #fb6666;
$roedtone: #ffe0e0;
$oransje: #fea11b;
$lysoransje: #fdcb87;
$oransjetone: #ffe8d4;
$gul: #fffea7;

/*
  Applying colors
  https://quarto.org/docs/output-formats/html-themes.html#sass-variables
  https://quarto.org/docs/presentations/revealjs/themes.html
*/
$link-color: $blaatone;
$link-color-hover: $lysblaa;
$code-block-background-color: $svart;
$code-block-border-color: $svart;
$code-color: $lysoransje;
$callout-color-note: $blaa;
$callout-color-tip: $lysgroenn;
$callout-color-caution: $roed;
$callout-color-warning: $oransje;
$callout-color-important: $gul;

/*
  UiO fonts
  For details (e.g. use cases), see
  https://www.uio.no/om/designmanual/profilelementer/typografi/index.html
*/
$font-family-sans-serif: "Arial", sans-serif;
$font-family-monospace: "Fira Code", monospace;

/*-- scss:rules --*/

.invert {
  filter: invert(1);
}

.reveal .slide-logo {
  height: 10% !important;
  max-height: unset !important;
}

table {
  border-collapse: collapse;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

table th {
  background-color: $roed-segl;
  text-decoration-color: white;
}

table td {
  border: 0px solid black !important;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1.8s step-start infinite;
}

.roed-text {
  color: $roed;
}

em {
  font-style: italic;
  color: $lysblaa;
  text-shadow: 1px 1px 2px $svart;
}

.black-border {
  color: white;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black, -2px 2px 2px black, 2px -2px 2px black;
}

mark, .mark {
  background-color: $roed-segl;
  color: white;
  text-shadow: 1px 1px 2px $svart;
}

kbd {
  display: inline-block;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  line-height: 1.4;
  color: $svart;
  background: linear-gradient(180deg, lighten($graa, 15%) 0%, $graa 80%, darken($graa, 10%) 100%);
  border: 1.5px solid darken($graa, 20%);
  border-bottom: 3px solid $svart;
  border-radius: 5px;
  box-shadow:
    8px 8px 16px 0 rgba($svart, 0.25),    // bottom-right shadow (dark gray)
    -8px 8px 16px 0 rgba($graa, 0.18),    // bottom-left shadow (medium gray)
    8px -2px 8px 0 rgba($graa, 0.10);     // right-top shadow (light gray)
  font-family: $font-family-monospace;
  position: relative;
  top: 0;
  transition: top 0.1s, box-shadow 0.1s;
}

kbd:active {
  top: 2px;
  box-shadow:
    4px 6px 10px 0 rgba($svart, 0.18),
    -6px 6px 12px 0 rgba($graa, 0.12),
    6px 0px 6px 0 rgba($graa, 0.08);
}
