/*-- scss:defaults --*/

/*
  UiO colors
  For details (e.g. use cases), see
  https://www.uio.no/om/designmanual/profilelementer/fargepalett/index.html
*/
$roed-segl: #b60000;
$svart: #000000;
$graa: #b2b3b7;
$blaa: #3e31d6;
$lysblaa: #86a4f7;
$blaatone: #e6ecff;
$groenn: #2ec483;
$lysgroenn: #6ce1ab;
$groenntone: #ceffdf;
$roed: #dd0000;
$lysroed: #fb6666;
$roedtone: #ffe0e0;
$oransje: #fea11b;
$lysoransje: #fdcb87;
$oransjetone: #ffe8d4;
$gul: #fffea7;

/*
  Applying colors
  https://quarto.org/docs/output-formats/html-themes.html#sass-variables
  https://quarto.org/docs/presentations/revealjs/themes.html
*/
$link-color: $blaatone;
$link-color-hover: $lysblaa;
$code-block-background-color: $svart;
$code-block-border-color: $svart;
$code-color: white;
$callout-color-note: $blaa;
$callout-color-tip: $lysgroenn;
$callout-color-caution: $roed;
$callout-color-warning: $oransje;
$callout-color-important: $gul;

/*
  UiO fonts
  For details (e.g. use cases), see
  https://www.uio.no/om/designmanual/profilelementer/typografi/index.html
*/
$font-family-sans-serif: "Arial", sans-serif;
$font-family-monospace: "Fira Code", monospace;

/*-- scss:rules --*/

.invert {
  filter: invert(1);
}
.reveal .slide-logo {
  height: 10% !important;
  max-height: unset !important;
}

table {
  border-collapse: collapse;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

table th {
  background-color: $roed-segl;
  text-decoration-color: white;
}

table td {
  border: 0px solid black !important;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1.8s step-start infinite;
}

.roed-text {
  color: $roed;
}

em {
  font-style: italic;
  color: $lysblaa;
  text-shadow: 1px 1px 2px $svart;
}

.black-border {
  color: white;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black, -2px 2px 2px black, 2px -2px 2px black;
}

mark, .mark {
  background-color: $roed-segl;
  color: white;
  text-shadow: 1px 1px 2px $svart;
}
